@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
  /* Garante que o scroll é suave */
  scroll-behavior: smooth; 
}

/* --- SCROLLBAR PERSONALIZADO (Para Elenco e Listas) --- */
.custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #333 #0a0a0a; /* Firefox */
}

/* Webkit (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Altura da barra horizontal */
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a; /* Cor do fundo da calha */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333; /* Cor da barra */
  border-radius: 20px; /* Arredondado */
  border: 2px solid #0a0a0a; /* Margem interna */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cor ao passar o rato */
}

/* Utilitário para esconder scrollbar se necessário */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}